<div class="logon-container">
	<section class="form">
		<img src="assets/betha-1.png" alt="logoBetha" style="margin-left: 50px"/>
	
		<form ng-submit="sessionUser()">
			<h1>Faça seu logon</h1>
			
			<input
				placeholder="Usuário"
				ng-model= username
			/>
			<input
					placeholder="Senha"
					ng-model= password 
			/>
			<button class="button" type="submit">Entrar</button>
			
			<a href="/#!/register">
			    Não tenho cadastro.
			</a>
     
	    </form>
	</section>
	
	<ul>
		<li><img src="assets/angular.png" alt="#" style="width: 350px; height: auto;"/></li>
		<li><img src="assets/spring.png" alt="#" style="width: 200px; max-height: 100px; margin: auto;"/></li>
	</ul>
    

</div>